<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
            
            </div>
        </div>
        <div class="row">
            <div class="text">
                <p>I'm a Front End Developer from Hyderabad.<br>I enjoy doing beautiful and clean websites that are easy to use.<br>I create websites that allow the user to experience your website in the best and <br>most appropriate way suited to the device they are using.</p>
            </div>
      
    </div>
</section>