 <!-- Portfolio Modals -->
<!--  {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-circle-left"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %} -->
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h4>Swachh Bharat</h4><a href="http://swachbharat.herokuapp.com">
                        <hr>
                        <img src="img/portfolio/swach1.png" class="img-responsive img-centered" alt="">
                        </a>
                        
                        <p>This is a platform where people can clean the places and friends can also join as a team,challenge others!!</p>
                       
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-circle-left"></i> Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h4>Project Title</h4>
                        <hr class="star-primary">
                        <img src="img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                        <p> describe your project.  </p>
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-circle-left"></i> Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        
        
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h4>Project Title</h4>
                        <hr class="star-primary">
                        <img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project!</p>
                     
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-arrow-circle-left"></i> Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
