
    <!-- Portfolio Grid Section -->
    <!-- <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section> -->
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>PROJECTS</h2>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/swach.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/circus.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/safe.png" class="img-responsive" alt="">
                        </a>
                    </div>
                    
                </div>
            </div>
        </section>
        <section id="skills">
            <div class="container skills">
             
              <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>SKILLS</h2>
                    
                </div>
                <div class="span3">
                  <div class="ps">
                    <img src="img/portfolio/html5.png"alt ="">
                  </div>
                </div>
                <div class="span5">
                  <h3>html5<span>90%</span></h3>
                  <div class="expand-bg"> <span class="expand ps2"> </span> </div>
                </div>
              </div>
              <div class="row">
                <div class="span3">
                  <div class="ai">
                   <img src="img/portfolio/css3.png"alt ="">
                  </div>
                </div>
                <div class="span5">
                  <h3>css3<span>90%</span></h3>
                  <div class="expand-bg"> <span class="expand ai2"> </span> </div>
                </div>
              </div>
              <div class="row">
                <div class="span3">
                  <div class="html">
                    <img src="img/portfolio/js.jpg"alt ="">
                  </div>
                </div>
                <div class="span5">
                  <h3>Java Script<span>80%</span></h3>
                  <div class="expand-bg"> <span class="expand html2"></span> </div>
                </div>
              </div>
              <div class="row">
                <div class="span3">
                  <div class="css">
                    <img src="img/portfolio/ruby.png"alt ="">
                  </div>
                </div>
                <div class="span5">
                  <h3>Ruby <span>75%</span></h3>
                  <div class="expand-bg"> <span class="expand css2"></span> </div>
                </div>
              </div>
            
              <div class="row">
                <div class="span3">
                  <div class="rails">
                    <img src="img/portfolio/rails.png"alt ="" style=max-width:83%>
                  </div>
                </div>
                <div class="span5">
                  <h3>Rails <span>75%</span></h3>
                  <div class="expand-bg"> <span class="expand rails2"></span> </div>
                </div>
              </div>
            </div>
    

        </section>
                        